/* FONTS*/
@font-face {
    font-family: 'SF Pro Display';
    src: url('fonts/SFProDisplay-Medium.eot');
    src: local('SF Pro Display Medium'), local('SFProDisplay-Medium'),
    url('fonts/SFProDisplay-Medium.eot?#iefix') format('embedded-opentype'),
    url('fonts/SFProDisplay-Medium.woff2') format('woff2'),
    url('fonts/SFProDisplay-Medium.woff') format('woff'),
    url('fonts/SFProDisplay-Medium.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display Bold';
    src: url('fonts/SFProDisplay-Heavy.eot');
    src: local('SF Pro Display Heavy'), local('SFProDisplay-Heavy'),
    url('fonts/SFProDisplay-Heavy.eot?#iefix') format('embedded-opentype'),
    url('fonts/SFProDisplay-Heavy.woff2') format('woff2'),
    url('fonts/SFProDisplay-Heavy.woff') format('woff'),
    url('fonts/SFProDisplay-Heavy.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
/* FONTS*/

html {
    box-sizing: border-box; /* life hack*/
}
*, *::before, ::after {  /* life hack*/
    box-sizing: inherit;
}
.body {
    font-family: 'SF Pro Display';
    font-size: 14px;
}
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
